body {    
    background-color: #f8f9f9;
    background-image: url('../images/image1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg, rgba(139,76,255,.7) 0%, rgba(139,76,255,.7) 17%, rgba(10,226,255,.7) 89%, rgba(10,226,255,.7) 100%);
    padding-top: 15%;
}

.container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.container h1 {
    font-size: 3em;
}